
main h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a {
    color: #017405 !important;
}

a:hover {
    color: #00b106 !important;
}

li > p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

