body {
    background-color: #eaeaea;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header ul.header-nav li a {
    color: #fff !important;
    margin-right: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

main h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.highlight {
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
}

.highlight .code-header {
    border-bottom: 1px solid #c3c3c3;
}

.content-wrapper {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .content-wrapper {
        width: 70%;
    }
}
.content-wrapper {
    margin: 0 auto;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    padding: 0 0rem 2rem 2rem;
    background-color: #fff;
}

p {
    color: #333;
}

figure img {
    border: 1px solid #ccc;
}

strong {
    color: #000;
}

main h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a {
    color: #017405 !important;
}

a:hover {
    color: #00b106 !important;
}

li > p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.admonition.note {
    background-color: #e8f5ff;
}
